name: Deploy to Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }} # Uses your custom port
          
          # 60s timeout is sometimes too short for shared hosting, bumping to 2 mins
          command_timeout: 2m 
          
          script: |
            # 1. Navigate to your project folder
            cd /home/u363443506/domains/elshamel.online/public_html/eventak

            # 2. Pull the latest code
            git pull origin main

            # 3. Install Dependencies
            composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev

            # 4. Migrate Database
            php artisan migrate --force

            # 5. Clear Caches
            php artisan optimize:clear

            php artisan optimize
            
            echo "Deployed Successfully!"
